body {
  font-family: Arial, sans-serif;
  max-width: 800px;
}

body.mobile {
  max-width: 100%;
}

/* モードエリア */
#mode-area {
  display: flex;
  gap: 16px;
  margin-bottom: 12px;
}

/* 入力エリア */
#input-area {
  display: flex;
  padding: 12px 0;
  gap: 8px;
  border-top: 1px solid #ccc;
}

#color-code {
  width: 80px;
}

/* コンテンツエリア 編集中のパレット */
#contents-area {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 50px;
  gap: 8px;
  border: 1px solid #ccc;
}

body.mobile #contents-area {
  grid-template-columns: repeat(4, 1fr);
}

.wrapper {
  position: relative; /* 基準 */
  flex: 1;
  display: flex;
  min-height: 50px;
}

.content-cell {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  mix-blend-mode: difference;
  font-size: 20px;
  font-weight: bold;
}

#save-area {
  margin-top: 12px;
}

/* インポートエリア */
#import-area {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #ccc;
}

/* パレットエリア */
#palette-area{
  display: grid;
  gap: 12px;
  padding: 16px 8px;  
}

.saved-palette {
  display: flex;
  align-items: center;
  gap: 8px;
}

.palette-content {
  display: flex;
  gap: 8px;
}

body.mobile .palette-content {
  display: grid;
  gap: 4px;
}

.tool-row {
  display: flex;
  align-self: center;
  gap: 4px;
}

.edit-name {
  cursor: pointer;
  align-content: center;
}

.colors-container {
  display: flex;
  gap: 2px;
}

.saved-color {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}

/* エクスポートエリア */
#export-area {
  padding: 12px 0;
  gap: 4px;
  border-top: 1px solid #ccc;
}